<div class="row">
  <!-- <h2>About Me</h2> -->
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="static/img/face.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <p class="content"> 
I am a PhD student at <a href="https://mila.quebec/en/">Mila</a> and University of Montreal supervised by <a href="http://sarathchandar.in/">Sarath Chandar</a>. 
	    I also closely work with <a href="https://yoshuabengio.org/">Yoshua Bengio</a> and <a href="http://www.ece.mcgill.ca/~amahaj1/">Aditya Mahajan</a>. 
	   
	    My main focus is to study the fundamental principles of human intelligence by creating agents that can adapt to new situations and
	    work with different partners, with the ultimate goal of creating cooperative intelligence. Currently, I am specifically researching
	    Cooperative Multi-agent, Offline, Model-based Reinforcement Learning and Lifelong Learning. </li>

	<p class="content"> I obtained my MSc from Univeristy of Waterloo working with <a href=" https://uwaterloo.ca/electrical-computer-engineering/profile/khandani"> Prof. Khandani </a>.
		Before that, I received my BSc in Electrical Engineering and a minor degree in Economics at the Sharif University of Technology, Iran.

    <p class="content">Feel free to reach out to me at <a href="nekoeihe@mila.quebec">nekoeihe@mila.quebec</a>.</p>


  </div>
</div>

