<div class="row">
  <!-- <h2>About Me</h2> -->
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="static/img/face.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <p class="content"> 
I am a Research Intern advised by <a href="http://sarathchandar.in/">Dr. Sarath Chandar</a>. My current research is more focused on building Multi-agent RL algorithms  that can— </p>      
    
    <p class="content">
    <ul>
      <li> <b><i>cooperate effectively</i></b></li>
      <li> <b><i>explore efficiently</i></b> ,</li>
    </ul>
    </p>

    <!-- can perceive and reason based on multimodal sensory information, are interpretable so that decisions or predictions made by such models or systems can be explained as opposed to them being black-boxes and are transferable and robust in the sense that they can be adapted across different domains and problem settings with ease and limited supervision. -->
    <!-- </p> -->
    <!-- My research interests focus on Semantic Scene Understanding and Artificial Intelligence. I am also interested in the interpretability aspect of Deep Learning models. </p> -->

	<p class="content"> I obtained my MSc from Univeristy of Waterloo working with <a href=" https://uwaterloo.ca/electrical-computer-engineering/profile/khandani"> Prof. Khandani </a> on projects for compensating nonlinear noise in fiber optic systems.  I spent the Fall 2019 at Ciena, Ottawa as Research Intern working with  <a href=" https://www.researchgate.net/profile/Maurice_Osullivan"> Maurice Osullivan </a> on adaptive pre-compensation mthods. 
	
	 <p style="fcontent"> I received my BSc in Electrical Engineering and a minor degree in economics at the Sharif University of Technology, Iran.  I was fortunate enough to spend my summer of 2016 working working with Prof.<a href=" https://scholar.google.com/citations?user=oGrZmIkAAAAJ&hl=en"> Chin Keong Ho </a> at the Institute for Infocom Research, Singapore, generously supported by the <a href=" https://www.a-star.edu.sg/Scholarships/For-Undergraduate-Studies/Singapore-International-Pre-Graduate-Award-SIPGA"> Astar Scholarship </a>.
    <p class="content">I love playing Football and rock climibing.</p> 
    <p class="content">Feel free to reach out to me at <a href="nekoeihe@mila.quebec">nekoeihe@mila.quebec</a></p>


  </div>
</div>

