<div class="row">

  <h2>Educational Qualifications</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">MASc in Electrical and Computer Engineering</h3>
      <h4 class="content_heading">University of Waterloo</h4>
        <p class="content">Thesis title: Adaptive compensation of nonlinear impairments in fiber-optic systems</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/UW.png" width="60%">
      <p>(August 2017 - Dec 2019)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Bachelor of Electrical Engineering and a Minor degree in Economics</h3>
      <h4 class="content_heading">Sharif University of Technology, Iran</h4>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/SUT.png" width="60%">
      <p>(August 2012 - May 2017)</p>
    </div>
  </div>

</div>
