<div class="row">
    <h2>Experience</h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.microsoft.com/en-us/research/group/adaptive-systems-and-interaction/">Adaptive Systems and Interaction Group, Microsoft Research</a></h3>
        <p class="content">Towards evaluating and encouraging human-like reasoning abilities in deep models. </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/msr_logo.jpg" width="120px">
        <p>(Summer 2019)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.tesla.com/autopilot/">Tesla Autopilot</a></h3>
          <p class="content">Preventing failures of autonomous systems in case of rarely occurring scenarios.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/tesla_logo.png" width="120px">
        <p>(Spring 2019)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.sra.samsung.com/">Samsung Research America</a></h3>
          <p class="content">Leveraging explanations to make AI models more grounded.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/sra_logo.png" width="120px">
        <p>(Summer 2018)</p>
        <br>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.research.fb.com/">Applied Machine Learning, Facebook</a></h3>
          <p class="content">Developing framework for interpreting and visualizing Facebook's deep models.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/fbresearch_logo.png" width="120px">
        <p>(Spring 2017)</p>
        <br>
      </div>
    </div>  

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">PhD Research Assistant, <a target="_blank" href="https://www.cc.gatech.edu/~parikh/vil.html">Visual Intelligence Lab, Georgia Tech</a></h3>
          <p class="content">Towards building AI systems that are Interpretable, Transparent, and Unbiased.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/vt_logo.jpg" width="110px">
        <p>(2015 - 2017)</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.cc.gatech.edu/~parikh/vil.html">Visual Intelligence Lab, Georgia Tech</a></h3>
          <p class="content">Building curious systems that ask Natural Language open-ended questions about an image.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/vt_logo.jpg" width="120px">
        <p>(Spring 2015)</p>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Research Intern, <a href="http://www.robots.ox.ac.uk/~phst/">Oxford University</a> </h3>
        <p class="content">Developing interactive augmented reality systems for visually impaired.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/oxford_logo.png" width="100px" height="100px">
      <p>(Fall 2014)</p>
    </div>
  </div>


 <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Research Intern, <a href="https://vivo.brown.edu/display/bkimia/">Brown University</a> </h3>
        <p class="content">Designing a vision-based navigation system to help the visually impaired navigate indoor environments.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/brown_logo.png" width="130px" height="130px">
      <p>(Summer 2013)</p>
    </div>
  </div>

</div>
