<div class="row">
    
    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">ML Research Intern, <a target="_blank" href="https://www.borealisai.com/">Borealis AI, Montreal</a></h3>
        <p class="content"> Sequence Modeling for Offline Reinforcement Learning</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/bai_logo.png" width="100px">
        <p>(Jul 2022 - Oct 2022)</p>
        <br>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Assistant, <a target="_blank" href="https://mila.quebec/">Mila, Montreal</a></h3>
        <p class="content"> Multi-agent RL, Model-based RL, Lifelong RL</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/mila_logo.png" width="100px">
        <p>(Jan 2020 - present)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.ciena.com/?utm_campaign=X1080019&utm_source=Google&utm_term=&utm_medium=Text&lang=EN&si=Brand&gclid=CjwKCAiA1fnxBRBBEiwAVUouUpymRHBdLt675C4SRfdBCE0aylN70LzQemLN3QXwgPGGonAPubiG8BoCXxIQAvD_BwE">Ciena coporation, Ottawa</a></h3>
        <p class="content"> Adaptive compensation of nonlinear noise in fiber-optic systems</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/ciena_logo.jpg" width="100px">
        <p>(Fall 2019)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.a-star.edu.sg/i2r">Institute for Infocom Research, A-star, Singapore</a></h3>
          <p class="content">Towards robus Internet of Things</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/Astar_logo.jpg" width="100px">
        <p>(Summer 2016)</p>
        <br>
      </div>
    </div>

</div>
