<div class="row">
  <h2>News</h2>
  <hr>
  <div class="col-sm-12">
    <ul id="news_list">

      <li class="newsElement">[Sep 2019]  I will be joining  <a href="https://mila.quebec/"> MILA </a> as Research Intern in January 2020! </li>
	  <li class="newsElement">[Sep 2019]  I will be joining  <a href="https://www.ciena.com/?utm_campaign=X1080019&utm_source=Google&utm_term=&utm_medium=Text&lang=EN&si=Brand&gclid=CjwKCAiA1fnxBRBBEiwAVUouUpM6OIEFk6xa2yHABiWGzn47qWBmzgetpdhNTQdY8SnxwdSiMY8LEBoCJsAQAvD_BwE"> Ciena, Ottawa </a> as Research Intern in Septmbre 2019! </li>
	   <li class="newsElement">[Aug 2019]  I succefully defended my  <a href="https://uwspace.uwaterloo.ca/handle/10012/15499">  MSc thesis! </a> </li>
      <li class="newsElement">[Feb 2019]  I recieved the <a href="https://uwaterloo.ca/electrical-computer-engineering/current-graduate-students/scholarship-information">Faculty of Engineering Award </a> for outstanding performance among ECE students. </li>

    </ul>
  </div>
</div>
<style type="text/css">
  .newsElement{
    padding-bottom: 5px;
  }
</style>
