
<div class="row">

	<h2>Publications</h2>
 <hr>
<table style="width:100%;border:1px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
<tbody>
	<tr>
            <td width="30%"><img src="static/img/LoCA.png" alt="3DSP" width="300" height="200" style="border-style: none"></td>

            <td valign="top" width="60%">
              <a href="https://arxiv.org/abs/2007.03158">
                      <papertitle>The LoCA Regret: A Consistent Metric to Evaluate Model-Based Behavior in Reinforcement Learning</papertitle>
              </a>
            <br>
            <b> Harm Van Seijen</b>,
			<b> Hadi Nekoei </b>, 
			<b> Evan Racah</b>, 
		    <b>Sarath Chandar</b> 
		<br>
              <em>Arxiv, 2020</em><br>
		</td>
              
              <td>
		<a href="https://arxiv.org/abs/2007.03158">Paper</a> /
               <a href="https://github.com/chandar-lab/LoCA">code</a>
              
            </td>
	</tr>

	 <tr>
            <td width="30%"><img src="static/img/pommerman.jpg" alt="3DSP" width="300" height="250" style="border-style: none"></td>

            <td valign="top" width="60%">
              <a href="href=https://1drv.ms/b/s!Atz-Zs1FHOQbiCtKzAUmv1qk1ATG">
                      <papertitle>Algorithmic Analysis and Improvements in Multi-Agent Reinforcement Learning in Partially Observable Setting</papertitle>
              </a>
            <br>
            <b> Hadi Nekoei</b>,
			<b> Ahmed Afify </b>, 
			<b> Juan Carrillo</b>, 
		    <b>Sriram Ganapathi Subramanian</b> </td>

              
              <td> <a href="https://1drv.ms/b/s!Aii679w1BZ6jbSjUl1ZranveN4s">Poster</a> /
              <a href="https://youtu.be/J4Yl1UB3rM0">Video</a>
            <br>
            <br>
            </td>
	</tr>

	<tr>

            <td width="30%"><img src="static/img/stock_paper.png" alt="3DSP" width="300" height="200" style="border-style: none"></td>
            <td valign="top" width="60%">
			<a href="https://www.aaai.org/ojs/index.php/AAAI/article/view/5016">
            <papertitle>Artificial Counselor System For Stock Investment</papertitle>
            </a>
            <br>
            <b> H. Nekoei </b>,
            <b>Benyamin Ghojogh</b>,
	    <b>Ali Sahebpasand</b>,
            <b>Mark Crowley</b>
            
            <br>
              <em>IAAI, 2019</em><br>
            <br>

             <td>   <a href="https://www.aaai.org/ojs/index.php/AAAI/article/view/5016">Paper</a>

            </td>
	</tr>

    </tbody>

</table>

</div>
