
<div class="row">

	<h2>Publications</h2>
 <hr>
<table style="width:100%;border:1px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
<tbody>
	<tr>
            <td width="30%"><img src="static/img/LoCA.png" alt="3DSP" width="200" height="200" style="border-style: none"></td>

            <td valign="top" width="60%">
              <a href="https://arxiv.org/abs/2007.03158">
                      <papertitle>The LoCA Regret: A Consistent Metric to Evaluate Model-Based Behavior in Reinforcement Learning</papertitle>
              </a>
            <br>
            <a> Harm Van Seijen</a>,
			<b> Hadi Nekoei </b>, 
			<a> Evan Racah</a>, 
		    <a>Sarath Chandar</a> / </td>

              
              <td
		<a href="https://arxiv.org/abs/2007.03158">Paper</a> /
               <a href="https://github.com/chandar-lab/LoCA">code</a>
              
            </td>
	</tr>

	 <tr>
            <td width="30%"><img src="static/img/pommerman.jpg" alt="3DSP" width="200" height="200" style="border-style: none"></td>

            <td valign="top" width="60%">
              <a href="href=https://1drv.ms/b/s!Atz-Zs1FHOQbiCtKzAUmv1qk1ATG">
                      <papertitle>Algorithmic Analysis and Improvements in Multi-Agent Reinforcement Learning in Partially Observable Setting</papertitle>
              </a>
            <br>
            <b> Hadi NekoeiQachkanloo</b>,
			<a> Ahmed Afify </a>, 
			<a> Juan Carrillo</a>, 
		    <a>Sriram Ganapathi Subramanian</a> / </td>

              
              <td <a href="https://1drv.ms/b/s!Aii679w1BZ6jbSjUl1ZranveN4s">Poster</a> /
              <!-- <a href="https://github.com/ramprs/grad-cam">code</a> / -->
              <a href="">demo</a>
            <br>
            <br>
            </td>
	</tr>

	<tr>

            <td width="30%"><img src="static/img/stock_paper.png" alt="3DSP" width="200" height="200" style="border-style: none"></td>
            <td valign="top" width="60%">
			<a href="https://www.aaai.org/ojs/index.php/AAAI/article/view/5016">
            <papertitle>Artificial Counselor System For Stock Investment</papertitle>
            <br>
            <a> H. NekoeiQachkanloo </a>,
            <a href="https://scholar.google.com/citations?user=U8qAL-0AAAAJ&hl=en">Benyamin Ghojogh</a>,
	    <a href="https://dblp.uni-trier.de/pers/p/Pasand:Ali_Saheb.html">Ali Sahebpasand</a>,
            <a href="https://uwaterloo.ca/electrical-computer-engineering/profile/mcrowley">Mark Crowley</a>,
            
            <br>
              <em>IAAI, 2019</em><br>
            <br>
            <br>

            </td>
	</tr>

    </tbody>

</table>

</div>
